.div {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.katal-nav,
.movingtokatal,
.movingtokatal1,
.movingtokatal2 {
  width: 6.56rem;
  height: 1.06rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.katal-nav,
.movingtokatal1,
.movingtokatal2 {
  width: 6.81rem;
}
.katal-nav,
.movingtokatal2 {
  width: 5.56rem;
}
.katal-nav {
  width: 23.31rem;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.beefree,
.beefree-img-icon {
  position: relative;
  flex-shrink: 0;
}
.beefree-img-icon {
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
}
.beefree {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: inline-block;
  width: 8.81rem;
  height: 1.69rem;
}
.logo {
  width: 12.56rem;
  height: 2.5rem;
  gap: var(--gap-xl);
  font-size: var(--font-size-5xl);
}
.extrapages,
.logo,
.navigation1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.extrapages {
  width: 10.19rem;
  height: 1.06rem;
  gap: var(--gap-16xl);
}
.navigation1 {
  width: 57.38rem;
  height: 2.5rem;
  overflow: hidden;
  flex-shrink: 0;
  gap: 5.63rem;
}
.shopping-basket-button-icon {
  position: relative;
  width: 1.88rem;
  height: 1.88rem;
  overflow: hidden;
  flex-shrink: 0;
}
.numb-busket-items-child {
  position: absolute;
  top: 0.06rem;
  left: 0.8rem;
  width: 2.06rem;
  height: 0.94rem;
}
.b {
  position: absolute;
  top: 0.06rem;
  left: 1.55rem;
  letter-spacing: 0.03em;
}
.numb-busket-items {
  position: relative;
  width: 3.81rem;
  height: 1.06rem;
}
.first-screen-basket {
  height: 1.88rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.header,
.navigation {
  overflow: hidden;
  display: flex;
}
.header {
  background-color: #f4d6c0;
  width: 120rem;
  height: 3.25rem;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 24.69rem 0.75rem;
  box-sizing: border-box;
  gap: 6.31rem;
}
.navigation {
  position: absolute;
  top: 0;
  left: -0.12rem;
  width: 120.25rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--font-size-sm);
}
.b1,
.div5 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.div5 {
  top: 0;
  letter-spacing: 0.02em;
  width: 20.94rem;
  height: 1.75rem;
}
.b1 {
  top: 2.94rem;
  font-size: 3.44rem;
  letter-spacing: 0.04em;
  width: 35.63rem;
  height: 3.19rem;
}
.novost-text {
  position: relative;
  width: 34.56rem;
  height: 8.06rem;
  overflow: hidden;
  flex-shrink: 0;
}
.div6 {
  position: relative;
  letter-spacing: 0.03em;
}
.novost-button,
.novost-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.novost-button {
  background-color: var(--color-tan);
  width: 15rem;
  height: 3.44rem;
  justify-content: center;
  padding: 0 1.81rem;
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.novost-info {
  width: 34.63rem;
  height: 15.5rem;
  justify-content: flex-start;
  gap: 4rem;
}
.b2,
.b3 {
  text-transform: uppercase;
}
.b2 {
  position: undefined;
  text-decoration: line-through;
  letter-spacing: 0.05em;
  display: inline-block;
  height: 1.81rem;
  margin-left: 3.25rem;
}
.b3 {
  position: relative;
  font-size: 2.63rem;
  letter-spacing: 0.02em;
  color: #d84033;
}
.novost,
.novost-predmet {
  height: 23.56rem;
  display: flex;
  justify-content: flex-start;
}
.novost-predmet {
  width: 34.75rem;
  flex-direction: column;
  align-items: center;
  padding: 0 0 0 24.56rem;
  box-sizing: border-box;
  background-image: url(./public/novostpredmet@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: right;
  font-size: var(--font-size-5xl);
}
.novost {
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
}
.news-list-child,
.news-list-item {
  position: relative;
  width: 2.5rem;
  height: 0.44rem;
}
.news-list-child {
  background-color: var(--color-lightgray-200);
}
.news-list-item {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #d7b399;
}
.lastnews,
.news-list {
  display: flex;
  align-items: center;
}
.news-list {
  width: 12.81rem;
  height: 0.44rem;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.lastnews {
  position: absolute;
  top: 3.25rem;
  left: 0;
  width: 120rem;
  height: 46.75rem;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end;
  padding: 4.25rem var(--padding-386xl);
  box-sizing: border-box;
  gap: 5rem;
  color: var(--color-black);
}
.div7,
.div8 {
  position: relative;
}
.div7 {
  letter-spacing: 0.02em;
}
.div8 {
  font-size: 1.31rem;
  font-weight: 300;
}
.free-shiping {
  position: absolute;
  top: 50rem;
  left: 0;
  background-color: var(--black);
  width: 120rem;
  height: 14.69rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-50xl) 41.69rem var(--padding-50xl) 41.56rem;
  box-sizing: border-box;
  gap: 1.44rem;
  text-align: center;
  color: var(--color-white);
}
.div9,
.kat-butt-icon {
  position: relative;
  flex-shrink: 0;
}
.kat-butt-icon {
  width: 5rem;
  height: 8.25rem;
  overflow: hidden;
}
.div9 {
  font-weight: 300;
  display: inline-block;
  width: 19.5rem;
  height: 0.94rem;
}
.types-items {
  width: 20.56rem;
  height: 3.88rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.span {
  font-weight: 500;
}
.span1 {
  font-weight: 300;
}
.div10 {
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.03em;
  display: inline-block;
  width: 20.56rem;
  height: 1.38rem;
  flex-shrink: 0;
  margin-left: -19.5rem;
}
.kat-text,
.men-kat-text {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.kat-text {
  width: 20.56rem;
  height: 3.88rem;
  padding: 0 var(--padding-mid) 0 0;
  margin-left: -4.94rem;
}
.men-kat-text {
  width: 20.63rem;
  height: 8.25rem;
  padding: 0 var(--padding-231xl) 0 0;
}
.men-katal-child {
  position: undefined;
  width: 11.88rem;
  height: 10.69rem;
  object-fit: cover;
  margin-top: 1.19rem;
}
.men-katal {
  background-color: var(--color-seashell);
  width: 60rem;
  height: 15.63rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-41xl) var(--padding-mini) 0;
  box-sizing: border-box;
}
.types-items1,
.wmen-kat-text {
  width: 19.5rem;
  height: 3.88rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.wmen-kat-text {
  width: 19.75rem;
  height: 8.25rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-231xl) 0 0;
  box-sizing: border-box;
}
.woman-img-child {
  position: relative;
  width: 11.88rem;
  height: 10.69rem;
  object-fit: cover;
}
.katalog,
.woman-img {
  overflow: hidden;
  display: flex;
}
.woman-img {
  width: 35.5rem;
  height: 11.88rem;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.katalog {
  position: absolute;
  top: 64.69rem;
  left: 0;
  height: 15.63rem;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.b4 {
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.new-item-cards-child {
  position: relative;
  width: 12.81rem;
  height: 13.19rem;
  object-fit: cover;
}
.p {
  margin: 0;
}
.b5,
.div13 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.div13 {
  font-weight: 600;
  width: 7rem;
  height: 1.81rem;
}
.b5 {
  font-size: var(--font-size-lg);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #d7b399;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 5.81rem;
  height: 1.06rem;
}
.item-card-text {
  width: 7rem;
  height: 3.81rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.item-cards,
.new-item-cards {
  height: 21.88rem;
  display: flex;
  justify-content: flex-start;
}
.new-item-cards {
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 15.94rem;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-6xl);
  gap: var(--gap-6xl);
}
.item-cards {
  width: 69.38rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-11xl);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.frame,
.new-item,
.news-item-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame {
  width: 69.38rem;
  height: 27.44rem;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-end;
  gap: var(--gap-26xl);
}
.new-item,
.news-item-button {
  box-sizing: border-box;
}
.news-item-button {
  background-color: var(--color-tan);
  width: 11.88rem;
  height: 3.44rem;
  justify-content: flex-end;
  padding: var(--padding-mid) 0;
  position: undefined;
  margin-right: 1.88rem;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.new-item {
  position: absolute;
  top: 80.31rem;
  left: calc(50% - 555px);
  width: 69.38rem;
  height: 45.63rem;
  justify-content: flex-start;
  padding: var(--padding-36xl) 0;
  gap: var(--gap-81xl);
  font-size: var(--h2-size);
}
.e-mail {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 300;
}
.email-input {
  background-color: var(--color-seashell);
  width: 15.94rem;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1.25rem;
  box-sizing: border-box;
}
.div18 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 9.85rem;
}
.subcription-button,
.subscription-field {
  height: 2.5rem;
  display: flex;
  align-items: center;
}
.subcription-button {
  background-color: var(--color-tan);
  width: 11.56rem;
  flex-direction: column;
  justify-content: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.subscription-field {
  width: 29.69rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-16xl);
  font-size: var(--font-size-xs);
  color: #8d8d8d;
}
.new-item1,
.subcribe {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.subcribe {
  top: 125.94rem;
  left: calc(50% - 960px);
  background-color: var(--black);
  width: 120rem;
  height: 10.63rem;
  flex-direction: row;
  align-items: flex-start;
  padding: 4.38rem var(--padding-386xl);
  gap: 3.75rem;
  text-align: center;
  color: var(--color-white);
}
.new-item1 {
  top: 136.56rem;
  left: calc(50% - 555px);
  width: 69.38rem;
  height: 45.63rem;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-36xl) 0;
  gap: var(--gap-81xl);
  font-size: var(--h2-size);
}
.rectangle-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 120rem;
  height: 19.44rem;
}
.copyright-2019,
.div24,
.lorem-ipsum-dolor {
  position: absolute;
  top: 21.31rem;
  left: 25.31rem;
  line-height: 1.38rem;
  color: var(--black);
}
.div24,
.lorem-ipsum-dolor {
  left: 84.06rem;
}
.lorem-ipsum-dolor {
  top: 9.06rem;
  left: 25.31rem;
  color: var(--color-white);
  display: inline-block;
  width: 12.5rem;
}
.div25 {
  position: relative;
  line-height: 1.38rem;
}
.footer-extra-pages,
.footer-katalog,
.polezn-ssilki {
  position: absolute;
  top: 7.06rem;
  left: 51.81rem;
  width: 5.63rem;
  height: 7.38rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.footer-katalog,
.polezn-ssilki {
  left: 64.31rem;
  width: 7.75rem;
}
.polezn-ssilki {
  left: 76.81rem;
  width: 8.56rem;
  height: 5.38rem;
}
.b15 {
  position: relative;
  text-transform: uppercase;
}
.footer-h {
  width: 16.56rem;
  height: 0.81rem;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: 5.25rem;
}
.footer-h,
.footer-h1,
.kategories,
.logo1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-h1 {
  width: 15.38rem;
  height: 0.81rem;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: 4.75rem;
}
.kategories,
.logo1 {
  position: absolute;
  top: 5rem;
  left: 51.81rem;
  width: 40.38rem;
  justify-content: space-between;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.logo1 {
  top: 4.56rem;
  left: 25.31rem;
  width: 12.56rem;
  height: 2.5rem;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-5xl);
}
.div36,
.vkcom {
  position: relative;
}
.div36 {
  line-height: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #d7b399;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}
.vkcom {
  font-size: var(--font-size-sm);
  line-height: 1.38rem;
  font-family: var(--h2);
  text-align: left;
}
.link {
  width: 5.19rem;
  height: 1.56rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  padding: 0 0 0.06rem;
  box-sizing: border-box;
  gap: var(--gap-8xs);
}
.link,
.link1,
.link2,
.social-netw {
  display: flex;
  justify-content: flex-start;
}
.link1 {
  width: 6rem;
  height: 1.56rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-8xs);
}
.link2,
.social-netw {
  width: 6.38rem;
}
.link2 {
  height: 1.56rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-8xs);
}
.social-netw {
  position: absolute;
  top: 6.88rem;
  left: 88.69rem;
  height: 5.56rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.44rem;
  text-align: center;
  font-size: var(--font-size-base);
  font-family: var(--font-fontawesome);
}
.footer {
  position: absolute;
  top: 182.19rem;
  left: 0;
  width: 120rem;
  height: 23.63rem;
  font-size: var(--font-size-sm);
  color: var(--color-lightgray-100);
}
